body {
    background-color: #DAF7A6;
}
.ad {
    color: #FFA9D4;
    font-size: small;
    text-align: center;
}

section {
    color: #581845;
    font-size: normal;
    text-align: inherit;
}

body {


}